#content{
	width: 960px;
	margin: 0 auto 0; 
	padding-top: 55px;
}

#loginForm{
	width: 340px;
	margin: 0 auto 0; 
}

.txtBox{
	width: 250px;
	border:0;
	outline: none;
	font: 12px/25px Verdana;
	float:left;
	margin-bottom: 30px;
	border-radius:4px;
	
}

.labels{
	display:block;
	float:left;
	width: 75px;
	color:#999999;
	font: 14px/25px Verdana;	
	text-align:right;
	padding-right: 15px;
}

#reg-link{
	color:#999999;
	font: 14px/15px Verdana;
	text-align:right;
	padding-top: 10px;
}

#btnCome{
	margin-top: -40px;
}

#regForm{
	width: 500px;
	margin: 0 auto 0; 
}

#regForm h1{
	color:#FFF;
	font: 25px Verdana;
	padding-bottom: 15px;
}

.regTxtBox{
	width: 400px;
	border:0;
	outline: none;
	font: 12px/25px Verdana;
	float:left;
	margin-bottom: 30px;
	border-radius:4px;
	
}

#comment{
	font: 11px Verdana;
	color:#ffd400;
}

.req-labels{
	display:block;
	float:left;
	width: 75px;
	color:#ffd400;
	font: 13px/25px Verdana;	
	text-align:right;
	padding-right: 15px;
}

#btnReg{
	margin: 5px 0 15px 25px;
	padding-bottom: 15px;
}