#content{
	width: 960px;
	margin: 0 auto 0; 
	padding-top: 40px;
	height: auto;
}

.arrow{
	width: 48px;
	/*padding-top: 185px;*/
	vertical-align:middle;
}

#shoes{
	width: 432px;
	vertical-align:middle;
	text-align:center;
}

#shoe-info{
	width: 432px;
	padding-left: 40px;
	padding-right: 100px;
	vertical-align:top;
}

#shoe-info h1{
	color:#FFF;
	font: 36px/38px Verdana;
	padding-bottom: 21px;
}

#shoe-info p{
	color: #999999;
	font: 11pt/13pt Verdana;
	padding-bottom: 30px;
}

#shoe-info a, shoe-info a:hover, shoe-info a:visited, shoe-info a:active{
	text-decoration: none;
}

#active_size{
	background-image:url(/images/grey_full_circle.png);
	color: #343434;
	
}
.av_size{
	width: 47px;
	height: 47px;
	margin-right: 12px;
	display:inline;
	float:left;
	background-image:url(/images/grey_circle.png);
	background-repeat:no-repeat;
	color: #999999;
	padding-top: 9px;
	text-align:center;
	font: 16pt Verdana;
}



#tovar_line{
	height: 1px;
	width: 270px;
	background-color: #999999;
	display:block;
	position:relative;
	top: 110px;
}

#price{
	color:#ffd400;
	font: 40pt Verdana;
	padding-top: 120px;
	padding-bottom: 20px;
}

#to_bas{
	margin-bottom: 0px;
}

.rel_img{
	display: block;
	float: left;
	margin-right: 11px;
	margin-left: 11px;
	border-bottom: 1px solid #999999;
}

#related h1{
	color:#FFF;
	font: 24px/38px Verdana;
	padding-bottom: 21px;
}

#rel_tovar_line{
	height: 1px;
	width: 500px;
	background-color: #999999;
	display:block;
	position:relative;
	margin-bottom: 15px;
	/*top: 110px;*/
}

#footer {
	width: 100%;
	margin: -67px auto 0;
	height: 67px;
	background: #4d4d4d;
	position: relative;
	min-width: 1280px;
}

#shoe-info input, textarea, select{
	border:0;
	outline: none;
        border-radius:4px;
	margin-bottom: 25px;
	
	font: 14px/30px Verdana;
	padding-left: 4px;
}

#in_name{
	margin-top: 5px;
	/*font: 36px/38px Verdana;
	margin-bottom: 21px;*/
	width: 400px;
}

#in_TA{
	/*font: 11pt/13pt Verdana;
	margin-bottom: 21px;*/
	width: 400px;
	max-width:400px;
	height: 90px;
	max-height: 90px;
}

#in_cat{
	/*font: 11pt/13pt Verdana;
	margin-bottom: 21px;*/
	width: 400px;
}
#in_siz{
	/*font: 11pt/13pt Verdana;
	margin-bottom: 21px;*/
	width: 200px;
	height: 100px;
        margin-right: 200px;
}

#in_price{
	/*font: 30pt Verdana;
	margin-bottom: 21px;*/
	width: 200px;
	display:block;
}

#in_foto{
    width:400px;
    color: #fff;
}
.lbls{
	display:block;
	float:left;
	width: 105px;
	color:#999999;
	font: 14px/25px Verdana;	
	text-align:right;
	padding-right: 15px;
}

#related h2, newComment h2{
    color:#fff;
    font: 14px/22px Verdana;
    padding-left: 5px;
    width: 550px;
}

#related p{
    color:#999999;
    font: 14px/18px Verdana;
    padding-left: 10px;
    width:550px;
}

#newComment{
   width: 500px;
}

#newComment input{
    margin-top: -25px;
}



